/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: ubuntu;
  src: url("/assets/fuentes/ubunturegular.ttf");
}
*{
    font-family: ubuntu,sans-serif;
}
body,html{
    background:rgb(240,240,240);
    padding:0px;
    margin:0px;
    height:100%;
    text-align:justify;
}
app-root{
    width:800px;
    margin:auto;
    display:block;
    background:white;
    padding:20px;
    min-height:100%;
    
}
app-cabecera{
    margin-top:20px;
}
.clearfix{
    clear:both;
}