extends layout

block content
  h1= title
  h2 Bienvenidos al diccionario
  p Welcome to #{title}
  p Que sepas que mi variable dice #{mivariable} 
  div(id="cosasmias")
    h3 Diccionario interactivo
    p En esta web podrás encontrar un traductor
    input(id="palabra")

