doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.7.0.min.js')
    script(src='/javascripts/micodigo.js')
  body
    h1 Titulo de la web
    nav
        ul
            li
                a(href="/") Inicio
            li
                a(href="/users") Usuarios
            li
                a(href="/sobremi") Sobre Mi
            li
                a(href="/diccionario") Diccionario
    block content

    footer
        p Esto es el pié de página
    
                    
