doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Titulo de la web
    nav
        ul
            li
                a(href="/") Inicio
            li
                a(href="/users") Usuarios
            li
                a(href="/sobremi") Sobre Mi
    block content
    
                    
