@font-face {
  font-family: novaquinta;
  src: url("/assets/fuentes/novaquinta.otf");
}
h1,h2{
    margin:0px;
    padding:0px; 
}
h1 {
  font-family: novaquinta;
   font-size:31px; 
}
h2{
    font-size: 11px;
    font-weight: normal;
    /* padding-left: 49px; */
    padding-top: 7px;
    position: relative;
    left: 56px;
    top: -15px;
}
img{
    float:left;
    margin-right:20px;
}
