p{
   
}
img{
    float:left;
    width:300px;
}
.texto{
    float:right;
    width:450px;
}
.razon{
    box-sizing: border-box;
    padding:20px;
}
.razon:nth-child(even) img{
    float:right;
    width:300px;
}
.razon:nth-child(even) .texto{
    float:left;
    width:450px;
}
    
